//vxe-table样式更改

//vxetable框架按钮
.vxe-button.type--button:not(.is--round) {
  border-radius: 0;
}

.vxe-buttons--wrapper {
  padding-left: 5px;
}

.vxe-grid {
  margin-left: -1px;
}

.tableBtn > .ant-btn {
  margin: 0 0 0 5px;
  cursor: pointer;
}

.tableOption > i {
  margin: 0 0 0 13px;
  cursor: pointer;
}

.tableStyle {
  > i {
    margin: 0 5px;
  }
}

// 解决告警管理在显示器分辨率放大，告警管理点击查询换行来回跳的问题，如果其他页面冲突，可将此样式放到告警管理页面
.vxe-toolbar .vxe-tools--wrapper,
.vxe-toolbar .vxe-tools--operate button:first-child {
  margin-left: 0 !important;
}
